<!DOCTYPE html>
<html lang="es" ng-app="scoreKeeperApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ScoreKeeper is a web app thet helps you to keep your scores in your games (Cards, Dominoes, board games, etc).">
    <meta name="author" content="Daniel Romero">

    <title>ScoreKeeper</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="./css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/site.css" rel="stylesheet">
  </head>

  <body role="document" ng-controller="ScoreController as scoreCtrl">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ScoreKeeper</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">New Game</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

		<div class="page-header">
			<h1>{{gameName}}</h1>
		</div>
		<div class="">
			<table class="table table-condensed">
				<thead>
				  <tr>
					<th>Round</th>
					<th ng-repeat="player in players">{{player.name}}</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="round in players[0].points">
					<td>#{{$index+1}}</td>
					<td ng-repeat="player in players">
						{{player.points[$parent.$index].value}}
					</td>
				  </tr>
				</tbody>
				<tfoot>
				  <tr>
					<th>Total</th>
					<th ng-repeat="player in players">{{player.total}}</th>
				  </tr>
				</tfoot>
			</table>
		</div>
	
		<form class="form-horizontal" submit="#">
			
			<div class="form-group" ng-repeat="player in players">
				<label for="input1" class="col-xs-4 col-sm-3 control-label">{{ player.name }}</label>
				<div class="col-xs-8 col-sm-9">
					<input type="number" class="form-control" id="input{{$index}}" placeholder="{{player.name}}">
				</div>
			</div>
			
			
			<button type="button" class="btn btn-primary btn-lg btn-block">Add Round #{{players[0].points.length+1}} Points</button>
		</form>
		

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./js/jquery-2.1.3.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
	<script src="./js/angular.min.js"></script>
	<script src="./js/app.js"></script>
  </body>
</html>
